.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(32, 32, 32);
}

.img-logo{
    width: 100px;
    border-radius: 70px;
}

.header_container div,
.menulist {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1400px) {
	.header_container .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	.header_container .menulist{
		position: fixed;
		top: -110vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
        background-color: #e425be8a;
        z-index: 100;
		gap: 1.5rem;
		transition: 1s;
	}

	.header_container .responsive_nav {
		transform: translateY(110vh);
	}

	.menulist .menulist__link {
		font-size: 1.5rem;
	}

	.nav-close-btn{
		position: absolute;
		top: 5%;
		right: 5%;
	}

}
